[submodule "coppeliarobotics/zmqRemoteApi"]
	path = coppeliarobotics/zmqRemoteApi
	url = https://github.com/CoppeliaRobotics/zmqRemoteApi.git

[submodule "cppzmq"]
	path = cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "jsoncons"]
	path = jsoncons
	url = https://github.com/danielaparker/jsoncons.git
