[submodule "coppeliarobotics/zmqRemoteApi"]
	path = coppeliarobotics/zmqRemoteApi
	url = https://github.com/CoppeliaRobotics/zmqRemoteApi.git
[submodule "jsoncons"]
	path = jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "cppzmq"]
	path = cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "submodules/zmqRemoteApi"]
	path = submodules/zmqRemoteApi
	url = https://github.com/CoppeliaRobotics/zmqRemoteApi.git
[submodule "submodules/jsoncons"]
	path = submodules/jsoncons
	url = https://github.com/danielaparker/jsoncons
[submodule "submodules/cppzmq"]
	path = submodules/cppzmq
	url = https://github.com/zeromq/cppzmq
