Source: libdqrobotics-interface-vrep
Section: devel
Priority: optional
Maintainer: Murilo Marinho <murilo@g.ecc.u-tokyo.ac.jp>
Build-Depends: cmake, libeigen3-dev, git, libdqrobotics
Homepage: https://dqrobotics.github.io/

Package: libdqrobotics-interface-vrep
Architecture: any
Depends: libdqrobotics
Description: DQ Robotics interface with V-REP
 The dual quaternion robotics library interface with V-REP.
